<div role="tabpanel" class="tab-pane" id="faithDeclarations">
{{#em-form model=this submit_button=false bubbles=false}}
  <div class="panel">
      <div class="panel-heading">
          <h3 class="panel-title">
              Faith Declaration
              <!-- if canAddBeliever make this function in future -->
                <button class="btn btn-primary align-right" {{action "showBeliever" bubbles=false }}>
                  <span class="octicon octicon-plus"></span>Add New Believer
                </button>
              <!-- end if -->
          </h3>
      </div>
      <div class="panel-body detail-section-content">
        <!-- Show Current Believers button-->
        <h4 class="showCurrentBelievers text-center">
          <button class="btn btn-default neutral" {{action "showCurrentBelievers" bubbles=false }}>
            Show {{believers.length}} Current Believers
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </button>
        </h4>

        <!-- Hide Current Believers button-->
        <h4 class="hideCurrentBelievers text-center">
          <button class="btn btn-default neutral" {{action "hideCurrentBelievers" bubbles=false }}>
            Hide {{believers.length}} Current Believers
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
          </button>
        </h4>

        <div class="col-lg-6 showHideBelievers">
          <div class="input-group input-group-lg">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
            <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1">
          </div>
        </div>

        <ul class="list-group text-center nav-pills showHideBelievers">
          {{#each believers}}
            <li class="listSet" {{action "showBeliever" this bubbles=false }}>
              <a href="#" role="tab" data-toggle="pill">{{believerName}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
	<!--CE start-->
    <div class="panel-heading" role="tab" id="ChristianityExplored">
		<h3 class="panel-title">
			Christianity Explored
		</h3>
	</div>
		<div class="panel-body detail-section-content">
			<div>
				<div class="col-xs-12 col-sm-6">
					<h5><strong>Participants</strong></h5>
					{{em-input property="ceParticipants" placeholder="Enter the number of participants"}}
					<h5><strong>Graduates</strong></h5>
					{{em-input property="ceGraduates" placeholder="Enter the number of graduates"}}
				</div>

				<div class="col-xs-12 col-sm-6">
					<h5><strong>Participants seeking Continued Education</strong></h5>
					{{em-input property="ceContinuedEducation" placeholder="Enter the number of participants seeking continued education"}}
					<h5><strong>Session</strong></h5>
					{{em-input property="ceSession" placeholder="Enter the number of session"}}
				</div>
			</div>
		</div>

	<!--CE end-->
{{/em-form}}
</div>
