 <div role="tabpanel" class="tab-pane" id="leadership">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Leadership Events
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
                
                <tr class="table-header">
                    <th>Description</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
                
                
                <tr class="table-header">
                
                    <td>{{em-text property="name" rows=1 class="col-lg-12 col-sm-6"}}</td>
                    <td>{{em-text property="date" rows=1 class="col-lg-12 col-sm-6"}}</td>
                    <td>{{em-text property="location" rows=1 class="col-lg-12 col-sm-6"}}</td>
                    <td>{{em-text property="description" rows=1 class="col-lg-12 col-sm-6"}}</td>
                    
                </tr>
                
            </table>
            
              <table class="table">
                <tr class="table-header">
                    <th><p>Event for new Participant needed</p></th>
                </tr>
                
                <tr class="table-header">
                    <th>Organization</th>
                    <th>Name</th>
                    <th>Gender</th>
                </tr>
                
                
                <tr class="table-header">
                
                    <td>{{em-text property="organization" rows=1 class="col-lg-12 col-sm-6"}}</td>
                    <td>{{em-text property="pname" rows=1 class="col-lg-12 col-sm-6"}}</td>
                    <td>{{em-text property="gender" rows=1 class="col-lg-12 col-sm-6"}}</td>

                </tr>
                
            </table>
        </div>
    </div>
  </div>