<div role="tabpanel" class="tab-pane active" id="staff">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital - Staff
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Entire Staff Devotions</th>
                    <th>Department Devotions</th>
                    <th>Hospital Prayer Group Intercessions</th>
                    <th>Spiritual Center Staff Meetings</th>
                </tr>
                <tr class="table-header">
                    <td>
                        <div class="col-xs-12 col-sm-6">
                            {{em-input property="integer"}}
                        </div>
                    </td>
                    <td>
                        <div class="col-xs-12 col-sm-6">
                            {{em-input property="integer"}}
                        </div>
                    </td>
                    <td>
                        <div class="col-xs-12 col-sm-6">
                            {{em-input property="integer"}}
                        </div>
                    </td>
                    <td>
                        <div class="col-xs-12 col-sm-6">
                            {{em-input property="integer"}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body detail-section-content">
            <h3>Staff Development
            </h3>
                {{em-text property="staffDevelopment" rows=8 class="col-lg-12 col-sm-6"}}
            <h3>Continuing Education/Counseling/Support Opportunities
            </h3>
                {{em-text property="staffOpportunities" rows=8 class="col-lg-12 col-sm-6"}}
        </div><!--end row-->
    </div>
  </div>
