<div class="panel-heading">
    <h3 class="panel-title">
        Staff Ministries
    </h3>
</div>
<div class="panel-body detail-section-content">
    <div class="row">
        {{em-input property="entireStaffDevotions" label="Entire Staff Devotions"
            class="col-xs-3"}}
        {{em-input property="departmentDevotions" label="Department Devotions"
            class="col-xs-3"}}
        {{em-input property="hospitalPrayerGroupIntercessions" label="Hospital Prayer Group Intercessions"
            class="col-xs-3"}}
        {{em-input property="spiritualCenterStaffMeetings" label="Spiritual Center Staff Meetings"
            class="col-xs-3"}}
    </div>
    <div class="row">
        {{em-text property="staffDevelopment" label="Staff Development" rows=8 class="col-sm-6"}}

        {{em-text property="staffOpportunities" label="Continuing Education/Counseling/Support Opportunities" 
            rows=8 class="col-sm-6"}}
    </div>
</div>

