<div class="panel-heading">
    <h3 class="panel-title">
        Staff Ministries
    </h3>
</div>
<div class="panel-body detail-section-content">
    <div>
        {{em-input property="entireStaffDevotions" label="Entire Staff Devotions"
            class="col-xs-3"}}
        {{em-input property="departmentDevotions" label="Department Devotions"
            class="col-xs-3"}}
        {{em-input property="hospitalPrayerGroupIntercessions" label="Hospital Prayer Group Intercessions"
            class="col-xs-3"}}
        {{em-input property="spiritualCenterStaffMeetings" label="Spiritual Center Staff Meetings"
            class="col-xs-3"}}
    </div>
    <div class="clear">
        <h4 class="panel-title panel-body ministryInfoTitle">
            Staff Development
        </h4>
        <p class="col-xs-12">(i.e. IAM Discipleship classes report)</p>
        {{em-text property="staffDevelopment" rows=8 class="col-lg-12 noResize"}}
        
        <h4 class="panel-title panel-body ministryInfoTitle">
            Staff Opportunities
        </h4>
        <p class="col-xs-12">(i.e. Counseling Caretakers report)</p>
        {{em-text property="staffOpportunities" rows=8 class="col-lg-12 noResize"}}
    </div>
</div>

