<div role="tabpanel" class="tab-pane" id="submit">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Submit
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This is where we will be submitting the monthly report!</p></th>
                </tr>
            </table>

            <!--Tab Buttons-->
            <div id="submissionTabButtons">
                <span class="row">
                    <!-- <a href="#staff" role="tab" data-toggle="pill"> -->
                        <span {{action 'staffTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Staff</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#patient" role="tab" data-toggle="pill"> -->
                        <span {{action 'patientTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Patient</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#leadership" role="tab" data-toggle="pill"> -->
                        <span {{action 'leadershipTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Leadership</button>
                        </span>
                    <!-- </a> -->
                </span>
                <span class="row">
                    <!-- <a href="#community" role="tab" data-toggle="pill"> -->
                        <span {{action 'communityTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Community</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#ce" role="tab" data-toggle="pill"> -->
                        <span {{action 'ceTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Christianity Explored</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#fd" role="tab" data-toggle="pill"> -->
                        <span {{action 'fdTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Faith Declarations</button>
                        </span>
                    <!-- </a> -->
                </span>
                <span class="row">
                    <!-- <a href="#demographics" role="tab" data-toggle="pill"> -->
                        <span {{action 'demographicsTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Demographics</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#ai" role="tab" data-toggle="pill"> -->
                        <span {{action 'aiTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Additional Info</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#summary" role="tab" data-toggle="pill"> -->
                        <span {{action 'summaryTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Summary</button>
                        </span>
                    <!-- </a> -->
                </span>
            </div>

            <!--Bottom Buttons-->
            <span id="submissionTabButtonsBottom" class="row">
                <span class="col-xs-12">
                    <button class="btn btn-primary col-xs-offset-5 col-xs-2 submissionTabS" {{action 'updateReport'}}>Save</button>
                </span>
                <span class="col-xs-12">
                    <button class="btn btn-primary col-xs-offset-5 col-xs-2 submissionTabS" {{action 'blahblahreport'}}>Submit</button>
                </span>
            </span>
        </div>
    </div>
  </div>
