<div role="tabpanel" class="tab-pane" id="submit">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Submit
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This is where we will be submitting the monthly report!</p></th>
                </tr>
            </table>

            <!--Tab Buttons-->
            <div id="submissionTabButtons">
                <span class="row">
                    <!-- <a href="#hospital" role="tab" data-toggle="pill"> -->
                        <span {{action 'hospitalTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Hospital</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#events" role="tab" data-toggle="pill"> -->
                        <span {{action 'eventsTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Events</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#fd" role="tab" data-toggle="pill"> -->
                        <span {{action 'fdTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Faith Declarations</button>
                        </span>
                    <!-- </a> -->
                </span>
                <span class="row">
                    <!-- <a href="#ai" role="tab" data-toggle="pill"> -->
                        <span {{action 'aiTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Additional Info</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#summary" role="tab" data-toggle="pill"> -->
                        <span {{action 'summaryTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Summary</button>
                        </span>
                    <!-- </a> -->
                    <!-- <a href="#demographics" role="tab" data-toggle="pill"> -->
                        <span {{action 'demographicsTab'}} class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab">Demographics</button>
                        </span>
                    <!-- </a> -->
                </span>
            </div>

            <!--Bottom Buttons-->
            <span id="submissionTabButtonsBottom" class="row">
                <span class="col-xs-12">
                    <button class="btn btn-primary col-xs-offset-5 col-xs-2 submissionTabS" {{action 'submitReport'}}>Submit</button>
                </span>
                <span class="col-xs-12">
                    <button class="btn btn-primary col-xs-offset-5 col-xs-2 submissionTabS" {{action 'togglePreview'}}>Preview</button>
                </span>
            </span>
        </div>
        {{#if showPreview}}
            {{partial 'ministry/edit/preview'}}
        {{/if}}
    </div>
  </div>
