<div role="tabpanel" class="tab-pane" id="submit">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Submit
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <p class="col-xs-12 ministryInstructions">If any of the buttons on this page are <span class="redWordSubmission">Red</span>, click on them to be taken to the unfinished section of the report. Until all the buttons are green you will be unable to submit the report.</p>
			<p class="col-xs-12 ministryInstructions">Once all the sections have been filled in each button will turn <span class="greenWordSubmission">Green</span> and you will be able to submit this report.</p>
			<p class="col-xs-12"> </p>

            <!--Tab Buttons-->
            <div>
                <span class="row">
                    {{#if hospitalReportValidation}}
                        <span class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsTrue">
                                Hospital
                            </button>
                        </span>
                    {{else}}
                        <span class="col-xs-4">
                            <button {{action 'hospitalTab'}} class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsFalse">
                                Hospital
                            </button>
                        </span>
                    {{/if}}
                    
                    {{#if eventsReportValidation}}
                        <span  class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsTrue">
                                Events
                            </button>
                        </span>
                    {{else}}
                        <span class="col-xs-4">
                            <button {{action 'eventsTab'}}  class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsFalse">
                                Events
                            </button>
                        </span>                        
                    {{/if}}
                    
                    {{#if faithDeclarationsReportValidation}}
                        <span class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsTrue">
                                Faith Declaration
                            </button>
                        </span>
                    {{else}}
                        <span class="col-xs-4">
                            <button {{action 'faithDeclarationsTab'}} class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsFalse">
                                Faith Declaration
                            </button>
                        </span>                    
                    {{/if}}
                </span>
                <span class="row">
                    {{#if additionalInformationReportValidation}}
                        <span class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsTrue">
                                Additional Information
                            </button>
                        </span>
                    {{else}}
                        <span class="col-xs-4">
                            <button {{action 'additionalInformationTab'}} class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsFalse">
                                Additional Information
                            </button>
                        </span>                    
                    {{/if}}

                    {{#if summaryReportValidation}}
                        <span class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsTrue">
                                Summary
                            </button>
                        </span>
                    {{else}}
                        <span class="col-xs-4">
                            <button {{action 'summaryTab'}} class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsFalse">
                                Summary
                            </button>
                        </span>                    
                    {{/if}}

                    {{#if demographicsReportValidation}}
                        <span class="col-xs-4">
                            <button class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsTrue" disabled="disabled">
                                Demographics
                            </button>
                        </span>
                    {{else}}
                        <span class="col-xs-4">
                            <button {{action 'demographicsTab'}} class="btn btn-primary col-xs-offset-2 col-xs-8 submissionTab submissionTabButtonsTrue" disabled="disabled">
                                Demographics
                            </button>
                        </span>                    
                    {{/if}}
                </span>
            </div>

            <!--Bottom Buttons-->
            <span id="submissionTabButtonsBottom" class="row">
                <span class="col-xs-12">
                    {{#if fullReportValidation}}
                        <button class="btn btn-primary col-xs-offset-5 col-xs-2 submissionTabS" {{action 'submitReport'}}>Submit</button>
                    {{else}}
                        <button class="btn btn-primary col-xs-offset-5 col-xs-2 submissionTabS" disabled="disabled">Submit</button>
                    {{/if}}
                </span>
                <span class="col-xs-12">
                    <button class="btn btn-primary col-xs-offset-5 col-xs-2 submissionTabS" {{action 'togglePreview'}}>Preview</button>
                </span>
            </span>
        </div>
        {{#if showPreview}}
            {{partial 'ministry/edit/preview'}}
        {{/if}}
    </div>
  </div>
