<div role="tabpanel" class="tab-pane" id="summary">
    {{#em-form model=this submit_button=false bubbles=false}}
        <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Summary
              </h3>
          </div>
          <div class="panel-body">
                <p id="instructions">
                      First enter a vaild number greater than or equal to 0 in any of the input fields in the Peopled Reached and/or Bibles Given Out rows
                      (excluding the Totals column). Then click the submit button below to save the numbers entered into the input field(s).
                </p>
                <table class="table">
                  <thead>
                      <td></td>
                      <td>Bedside Displays</td>
                      <td>Playroom Displays</td>
                      <td>Jesus Film</td>
                      <td>Open Air Meetings</td>
                      <td>Mobile Clinic Visits</td>
                      <td>More Opportunities</td>
                      <td>Totals</td>
                  </thead>
                  <tbody>
                      <tr>
                          <td>People Reached</td>
                          <td>{{em-input property="peopleBedside" class="col-lg-12 enabled" bubbles=false}}</td>
                          <td>{{em-input property="peoplePlayroom" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peopleJesus" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peopleOpenAir" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peopleMobile" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peopleMore" class="col-lg-12 enabled"}}</td>
                          <td><input type="text" property="peopleTotal" class="form-control" disabled></td>
                      </tr>
                      <tr>
                          <td>Bibles Given Out</td>
                          <td>{{em-input property="biblesBedside" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="biblesPlayroom" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="biblesJesus" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="biblesOpenAir" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="biblesMobile" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="biblesMore" class="col-lg-12 enabled"}}</td>
                          <td><input type="text" property="biblesTotal" class="form-control" disabled></td>
                      </tr>
                      <tr>
                          <td>Salvations</td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" property="salvationTotal" class="form-control" disabled></td>
                      </tr>
                      <tr>
                          <td>Recommitments</td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" class="form-control" disabled></td>
                          <td><input type="text" property="recommitmentTotal"class="form-control" disabled></td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
    {{/em-form}}
  </div>
