<div role="tabpanel" class="tab-pane" id="summary">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Summary
              </h3>
          </div>
          <div class="panel-body detail-section-content">
                <table class="table">
                  <tr class="table-header">
                      <td>People Reached</td>
                      <td>{{em-text label="Bedside Presentations" property="bedside_presentations" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text label="Playroom Presentations" property="playroom_presentations" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text label="Jesus Film" property="jesus_film" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text label="Open Air Meetings" property="open_air_meetings" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text label="Mobile Clinic Visits" property="mobile_clinic_visits" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text label="Additional Opportunities" property="additional_opportunities" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text id="totals" label="Totals" property="totals" rows=1 class="col-lg-10 col-sm-6" value=this.totals disabled=true}}<!--The feature for calculating and displaying the total number of People Reached has not been developed yet--></td>
                  </tr>
                  <tr class="table-header">
                      <td>Salvations</td>
                      <td>{{em-text property="bedroom_presentations" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="playroom_presentations" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="jesus_film" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="open_air_meetings" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="mobile_clinic_visits" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="additional_opportunities" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text id="totals" property="totals" rows=1 class="col-lg-10 col-sm-6" value=this.totals disabled=true}}<!--The feature for calculating and displaying the total number of Salvations has not been developed yet--></td>
                  </tr>
                  <tr class="table-header">
                      <td>Recommitments</td>
                      <td>{{em-text property="bedroom_presentations" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="playroom_presentations" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="jesus_film" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="open_air_meetings" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="mobile_clinic_visits" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="additional_opportunities" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text id="totals" property="totals" rows=1 class="col-lg-10 col-sm-6" value=this.totals disabled=true}}<!--The feature for calculating and displaying the total number of Recommitments has not been developed yet--></td>
                  </tr>
                  <tr class="table-header">
                      <td>Bibles Given Out</td>
                      <td>{{em-text property="bedroom_presentations" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="playroom_presentations" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="jesus_film" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="open_air_meetings" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="mobile_clinic_visits" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text property="additional_opportunities" rows=1 class="col-lg-10 col-sm-6"}}</td>
                      <td>{{em-text id="totals" property="totals" rows=1 class="col-lg-10 col-sm-6" value=this.totals disabled=true}}<!--The feature for calculating and displaying the total number of Bibles Given Out has not been developed yet--></td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
