<div role="tabpanel" class="tab-pane" id="summary">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Summary
              </h3>
          </div>
          <div class="panel-body detail-section-content">
              <table class="table">
                  <tr class="table-header">
                      <th></th>
                      <th>Bedside Presentations</th>
                      <th>Playroom Presentations</th>
                      <th>Jesus Film</th>
                      <th>Open Air Meetings</th>
                      <th>Mobile Clinic Visits</th>
                      <th>Additional Opportunities</th>
                      <th>Totals</th>
                  </tr>
                  <tr class="table-header">
                      <td>People Reached</td>
                      <td>{{em-text label="people_reached" property="bedside_presentations" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="people_reached" property="playroom_presentations" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="people_reached" property="jesus_film" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="people_reached" property="open_air_meetings" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="people_reached" property="mobile_clinic_visits" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="people_reached" property="additional_opportunities" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td><!--The feature for calculating and displaying the total number of People Reached has not been developed yet--></td>
                  </tr>
                  <tr class="table-header">
                      <td>Salvations</td>
                      <td>{{em-text label="salvations" property="bedroom_presentations" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="salvations" property="playroom_presentations" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="salvations" property="jesus_film" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="salvations" property="open_air_meetings" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="salvations" property="mobile_clinic_visits" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="salvations" property="additional_opportunities" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td><!--The feature for calculating and displaying the total number of Salvations has not been developed yet--></td>
                  </tr>
                  <tr class="table-header">
                      <td>Recommitments</td>
                      <td>{{em-text label="recommitments" property="bedroom_presentations" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="recommitments" property="playroom_presentations" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="recommitments" property="jesus_film" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="recommitments" property="open_air_meetings" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="recommitments" property="mobile_clinic_visits" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="recommitments" property="additional_opportunities" rows=1 class="col=lg-12 col-sm-6"}}</td>
                      <td><!--The feature for calculating and displaying the total number of Recommitments has not been developed yet--></td>
                  </tr>
                  <tr class="table-header">
                  	  <td>Bibles Given Out</td>
                  	  <td>{{em-text label="bibles_given_out" property="bedroom_presentations" rows=1 class="col=lg-12 col-sm-6"}}</td>
                  	  <td>{{em-text label="bibles_given_out" property="playroom_presentations" rows=1 class="col=lg-12 col-sm-6"}}</td>
                  	  <td>{{em-text label="bibles_given_out" property="jesus_film" rows=1 class="col=lg-12 col-sm-6"}}</td>
                  	  <td>{{em-text label="bibles_given_out" property="open_air_meetings" rows=1 class="col=lg-12 col-sm-6"}}</td>
                  	  <td>{{em-text label="bibles_given_out" property="mobile_clinic_visits" rows=1 class="col=lg-12 col-sm-6"}}</td>
                  	  <td>{{em-text label="bibles_given_out" property="additional_opportunities" rows=1 class="col=lg-12 col-sm-6"}}</td>
                  	  <td><!--The feature for calculating and displaying the total number of Bibles Given Out has not been developed yet--></td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
