<div role="tabpanel" class="tab-pane" id="summary">
    {{#em-form model=this submit_button=false bubbles=false}}
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Summary
                </h3>
            </div>
            <div class="panel-body">
                <p class="summaryInstructions">
                      Enter a number, and do not leave any of these fields blank.
                </p>
                <table class="table">
                  <thead>
                      <td></td>
                      <td>Bedside Displays</td>
                      <td>Playroom Displays</td>
                      <td>Jesus Film</td>
                      <td>Open Air Meetings</td>
                      <td>Mobile Clinic Visits</td>
                      <td>Door to Door Evangelism</td>
                      <td>More Opportunities</td>
                      <td>Totals</td>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Gospel Presentations</td>
                          <td>{{em-input property="bedsidePresentations" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="playroomPresentations" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="jesusPresentations" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="openAirPresentations" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="mobilePresentations" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="doorPresentations" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="morePresentations" class="col-lg-12 enabled"}}</td>
                          <td><span class="summaryTableTotal">{{totalPresentations}}</span></td>
                      </tr>
                      <tr>
                          <td>People Reached</td>
                          <td>{{em-input property="peopleBedside" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peoplePlayroom" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peopleJesus" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peopleOpenAir" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peopleMobile" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peopleDoor" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="peopleMore" class="col-lg-12 enabled"}}</td>
                          <td><span class="summaryTableTotal">{{peopleTotal}}</span></td>
                      </tr>
                      <tr>
                          <td>Bibles Given Out</td>
                          <td>{{em-input property="bibleBedside" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="biblePlayroom" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="bibleJesus" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="bibleOpenAir" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="bibleMobile" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="bibleDoor" class="col-lg-12 enabled"}}</td>
                          <td>{{em-input property="bibleMore" class="col-lg-12 enabled"}}</td>
                          <td><span class="summaryTableTotal">{{bibleTotal}}</span></td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
    {{/em-form}}
  </div>
