<style>
      .disabled {
            cursor: not-allowed;
            background-color: #eee;
            opacity: 1;
      }
</style>

<div role="tabpanel" class="tab-pane" id="summary">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Summary
              </h3>
          </div>
          <div class="panel-body detail-section-content">
                <table class="table">
                  <tr class="table-header">
                      <td>People Reached</td>
                      <td>{{em-text label="Bedside Displays" property="bedside_displays1" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="Playroom Displays" property="playroom_displays1" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="Jesus Film" property="jesus_film1" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="Open Air Meetings" property="open_air_meetings1" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="Mobile Clinic Visits" property="mobile_clinic_visits1" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text label="More Opportunities" property="more_opportunities1" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td><label for="totals">Totals</label><input type="text" class="col-lg-12 col-sm-6" id="totals" disabled></td>
                      <!--The feature for calculating and displaying the total number of People Reached has not been developed yet-->
                  </tr>
                  <tr class="table-header">
                      <td>Bibles Given Out</td>
                      <td>{{em-text property="bedroomDisplays4" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text property="playroomDisplays4" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text property="jesusFilm4" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text property="openAirMeetings4" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text property="mobileClinicVisits4" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td>{{em-text property="moreOpportunities4" rows=1 class="col-lg-12 col-sm-6"}}</td>
                      <td><input type="text" class="col-lg-12 col-sm-6" disabled></td>
                      <!--The feature for calculating and displaying the total number of Bibles Given Out has not been developed yet-->
                  </tr>
                  <tr class="table-header">
                      <td>Salvations</td>
                      <td>{{em-text property="bedroomDisplays2" rows=1 class="col-lg-12 col-sm-6" class="disabled"}}</td>
                      <td>{{em-text property="playroomDisplays2" rows=1 class="col-lg-12 col-sm-6" class="disabled"}}</td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <!--The feature for calculating and displaying the total number of Salvations has not been developed yet-->
                  </tr>
                  <tr class="table-header">
                      <td>Recommitments</td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <td><input type="text" class="form-control" disabled></td>
                      <!--The feature for calculating and displaying the total number of Recommitments has not been developed yet-->
                  </tr>
              </table>
          </div>
      </div>
  </div>
