<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label">Id</label> {{displayPatientId}} 0001
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label">Date</label> {{currentMonth}}
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active" ><a href="#staff" role="tab" data-toggle="pill">Staff</a></li>
    <li role="presentation" class="active" ><a href="#patient" role="tab" data-toggle="pill">Patient</a></li>
    <li role="presentation"><a href="#leadership" role="tab" data-toggle="pill">Leadership</a></li>
    <li role="presentation"><a href="#community" role="tab" data-toggle="pill">Community</a></li>
    <li role="presentation"><a href="#ce" role="tab" data-toggle="pill">Christianity Explored</a></li>
    <li role="presentation"><a href="#fd" role="tab" data-toggle="pill">Faith Declarations</a></li>
    <li role="presentation"><a href="#demographics" role="tab" data-toggle="pill">Demographics</a></li>
    <li role="presentation"><a href="#ai" role="tab" data-toggle="pill">Additional Info</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">Summary</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="staff">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital - Staff
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Entire Staff Devotions</th>
                    <th>Department Devotions</th>
                    <th>Hospital Prayer Group Intercessions</th>
                    <th>Spiritual Center Staff Meetings</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="patient">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital - Patient
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Bedside Evangelism</th>
                    <th>Playroom Activities</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="leadership">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Leadership Events
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="community">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Community
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="ce">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Christianity Explored
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="fd">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Faith Declaration
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
            </table>
        </div>
        <!--- THIS IS STATIC CODE FOR LATER REVISION (Faith Declaration)== by: Celtson-->
        <div class="panel detail-section">
            <div class="panel-heading">
                <h3 class="panel-title">
                        General Information
                </h3>
            </div>

            <div class="panel-body detail-section-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group has-success">
                            <label class="control-label">Record Number</label>
                            <div class="form-control not-editable">
                                {{id}}
                            </div>
                        </div>
                        {{em-input property="firstName" label="First Name"}}
                        {{em-input property="lastName" label="Last Name"}}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                       {{em-input property="age" label="Age" class="required"}}
                        {{em-select
                            prompt=" "
                            label="Religious Affiliation"
                            property="religiousAffiliation"
                            content=religiousAffiliation
                            optionValuePath="content"
                            optionLabelPath="content"
                        }}
                        {{em-select
                            prompt=" "
                            label="Present Activity"
                            property="presentActivity"
                            content=presentActivity
                            optionValuePath="content"
                            optionLabelPath="content"
                        }}
                        {{em-select
                            prompt=" "
                            label="Type of Declaration"
                            property="declarationType"
                            content=declarationType
                            optionValuePath="content"
                            optionLabelPath="content"
                            class="required"
                        }}
                        <div class="form-group">
                            <label>Gender</label>
                            <div>
                                {{ext-radio name=gender content=genderList value=gender showInline=true}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel detail-section">
          <div class="panel-heading">
              <h3 class="panel-title">
                  Address/Contact Information
              </h3>
          </div>

          <div class="panel-body detail-section-content">
              <div class="row">

                  {{em-input property="phone" label="Phone Contact" class="col-xs-12 col-sm-6"}}
                  {{em-input property="email" type="email" label="Email" class="col-xs-12 col-sm-6"}}
                  {{#if haveAddressOptions}}
                      {{#if address1Include}}
                          {{em-text label=address1Label property="address" rows=3 class="col-xs-12 col-sm-6"}}
                      {{/if}}
                      {{#if address2Include}}
                          {{em-input label=address2Label property="address2" class="col-xs-12 col-sm-6" }}
                      {{/if}}
                      {{#if address3Include}}
                          {{em-input label=address3Label property="address3" class="col-xs-12 col-sm-6" }}
                      {{/if}}
                      {{#if address4Include}}
                          {{em-input label=address4Label property="address4" class="col-xs-12 col-sm-6" }}
                      {{/if}}
                  {{else}}
                      {{em-text label="Address" property="address" rows=3  class="col-xs-12 col-sm-6"}}
                  {{/if}}
                  {{select-or-typeahead property="country" label="Country" list=countryList selection=country class="col-xs-12 col-sm-6" }}

              </div>
          </div>
        </div>
        <!--- end comment ======== by: Celtson-->
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="demographics">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Demographics
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Staff</th>
                    <th>Partner Organizations</th>
                    <th>Churches</th>
                    <th>People Groups</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="ai">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Additional Info
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Ministry Results</th>
                    <th>Recommendations/Needs</th>
                    <th>Other Significant Items</th>
                </tr>
            </table>
        </div>
    </div>
   </div>
    <div role="tabpanel" class="tab-pane" id="summary">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Summary
              </h3>
          </div>
          <div class="panel-body detail-section-content">
              <table class="table">
                  <tr class="table-header">
                      <th>Bedside Presentations</th>
                      <th>Playroom Presentations</th>
                      <th>Jesus Film</th>
                      <th>Open Air Meetings</th>
                      <th>Mobile Clinic Visits</th>
                      <th>Additional Opportunities</th>
                      <th>Totals</th>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div> <!--end tab-content -->
