<style>
/*====================================//
//======= REBEKAH SMITH STYLES =======//
//====================================*/
  .submissionTab {
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .submissionTabS {
      padding-top: 10px;
      padding-bottom: 10px;

      margin-top: 10px;
      margin-bottom: 4px;
  }

  #submissionTabButtons button {
      color: white;
      /*Invalid Color Scheme*/
      background-color: #B21E06;
      border-color: #6B1203;

      /* Valid Color Scheme
      background-color: #44941E;
      border-color: #2A5C13;*/

      border-width: 2px;
      border-style: solid;
  }
  #submissionTabButtonsBottom button {
      color: white;
      border-width: 2px;
      border-style: solid;
  }
  .previewNames {
      background-color: transparent;
      color: #00BD9C;
      border-style: solid;
      border-width: 1px;
      border-color: #00BD9C;
  }
  .centeringSummaryTable td {
      text-align: center;
  }
    
  h3.headingsForPreview  {
      font-size: 21px;
  }
/*============ END REBEKAH STYLES ============*/

/*------------------------------------------------------------------------------*/

/*======= Peter's Styles ======*/

  #reportDateHeader {
      padding-top: 15px;
      padding-left: 15px;
      margin: 0px;
      font-size: 18px;
      font-weight: bold;
  }

/*======= END Peter's STYLES ===*/

</style>
<h3 id="reportDateHeader">{{displayReportDate}}</h3>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#hospital" role="tab" data-toggle="pill">Hospital</a></li>
    <li role="presentation"><a href="#events" role="tab" data-toggle="pill">Events</a></li>
    <li role="presentation"><a href="#fd" role="tab" data-toggle="pill">Faith Declarations</a></li>
    <li role="presentation"><a href="#ai" role="tab" data-toggle="pill">Additional Info</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">Summary</a></li>
    <!--<li role="presentation"><a href="#demographics" role="tab" data-toggle="pill">Demographics</a></li>-->
    <li role="presentation"><a href="#submit" role="tab" data-toggle="pill">Submit</a></li>
</ul>
<div class="tab-content">
    {{partial 'ministry/edit/hospital'}}
    {{partial 'ministry/edit/events'}}
    {{partial 'ministry/edit/fd'}}
    {{partial 'ministry/edit/ai'}}
    {{partial 'ministry/edit/summary'}}
    <!--{{partial 'ministry/edit/demographics'}}-->
    {{partial 'ministry/edit/submit'}}
</div> <!--end tab-content -->
