<div class="row">
    <h3 class="reportDateHeader">
        {{displayReportDate}}
    </h3>
    <p class="reportDateHeaderNote">Last Edited: {{date-format lastModified format="l hh:mm A"}}</p>
    <span class="clearReportHeader"></span>
</div>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#hospital" role="tab" data-toggle="pill">Hospital</a></li>
    <li role="presentation"><a href="#events" role="tab" data-toggle="pill">Events</a></li>
    <li role="presentation"><a href="#faithDeclarations" role="tab" data-toggle="pill">Faith Declarations</a></li>
    <li role="presentation"><a href="#additionalInformation" role="tab" data-toggle="pill">Additional Info</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">Summary</a></li>
    <!--<li role="presentation"><a href="#demographics" role="tab" data-toggle="pill">Demographics</a></li>-->
    <li role="presentation"><a href="#submit" role="tab" data-toggle="pill">Submit</a></li>
</ul>
<div class="tab-content">
  <h1 class="navigateTabLeft" {{action "prevMinistryTab" bubbles=false }}>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </h1>
  <h1 class="navigateTabRight" {{action "nextMinistryTab" bubbles=false }}>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </h1>
    {{partial 'ministry/edit/hospital'}}
    {{partial 'ministry/edit/events'}}
    {{partial 'ministry/edit/faith-declarations'}}
    {{partial 'ministry/edit/additional-information'}}
    {{partial 'ministry/edit/summary'}}
    <!--partial 'ministry/edit/demographics'}-->
    {{partial 'ministry/edit/submit'}}
</div> <!--end tab-content -->
