<style>
/*=================================== //
//======= Rebecca Smith Styles======= //
//=================================== */
  .submissionTab {
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .submissionTabS {
      padding-top: 10px;
      padding-bottom: 10px;

      margin-top: 10px;
      margin-bottom: 4px;
  }

  #submissionTabButtons button {
      color: white;
      /*Invalid Color Scheme*/
      background-color: #B21E06;
      border-color: #6B1203;

      /* Valid Color Scheme
      background-color: #44941E;
      border-color: #2A5C13;*/

      border-width: 2px;
      border-style: solid;
  }
  #submissionTabButtonsBottom button {
      color: white;
      border-width: 2px;
      border-style: solid;
  }
/*============END REBECCA STYLES ============*/

/*------------------------------------------------------------------------------*/

/*======= Spiritual Ministries Styles ======*/

  textarea {resize: none;}

/*======= END SPIRITUAL MINISTRIES STYLES ===*/

</style>

<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#staff" role="tab" data-toggle="pill">Staff</a></li>
    <li role="presentation"><a href="#patient" role="tab" data-toggle="pill">Patient</a></li>
    <li role="presentation"><a href="#leadership" role="tab" data-toggle="pill">Leadership</a></li>
    <li role="presentation"><a href="#community" role="tab" data-toggle="pill">Community</a></li>
    <li role="presentation"><a href="#ce" role="tab" data-toggle="pill">Christianity Explored</a></li>
    <li role="presentation"><a href="#fd" role="tab" data-toggle="pill">Faith Declarations</a></li>
    <li role="presentation"><a href="#demographics" role="tab" data-toggle="pill">Demographics</a></li>
    <li role="presentation"><a href="#ai" role="tab" data-toggle="pill">Additional Info</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">Summary</a></li>
    <li role="presentation"><a href="#submit" role="tab" data-toggle="pill">Submit</a></li>
</ul>
<div class="tab-content">
    {{partial 'ministry/edit/staff'}}
    {{partial 'ministry/edit/patient'}}
    {{partial 'ministry/edit/leadership'}}
    {{partial 'ministry/edit/community'}}
    {{partial 'ministry/edit/ce'}}
    {{partial 'ministry/edit/fd'}}
    {{partial 'ministry/edit/demographics'}}
    {{partial 'ministry/edit/ai'}}
    {{partial 'ministry/edit/summary'}}
    {{partial 'ministry/edit/submit'}}
</div> <!--end tab-content -->
