<div role="tabpanel" class="tab-pane" id="events">
    {{#em-form model=this submit_button=false bubbles=false }}
    <div class="panel">
        <!--<div class="panel-body detail-section-content">
            {#if hasEventsThisMonth}}
                <button type="button" class="btn btn-default warning align-right" {action "shiftEventsThisMonth" bubbles=false }}>No Events This Month: Disabled</button>
            {else}}
                <button class="btn btn-primary align-right" {action "shiftEventsThisMonth" bubbles=false }}>No Events This Month: Enabled</button>
            {/if}}
        </div>-->
        <div class="panel-heading">
            <h3 class="panel-title">
                Community Events
                <!-- if canAddCommunityEvent make this function in future -->
                    <button class="btn btn-primary align-right" {{action "editCommunity" bubbles=false }}>
                        <span class="octicon octicon-plus"></span>Add New Community Event
                    </button>
                <!-- end if -->
            </h3>
        </div>            
        <div class="panel-body detail-section-content">
			<form><span class="checkbox noEventsCheckbox"><label><input type="checkbox">No Community Events This Month</label></span></form>
            <p class="col-xs-12 ministryInstructions">Example: Mobile Clinic, Outreach, Family & Patient Outreach</p>
            <table class="table">
                <tr class="table-header">
                    <th class="descriptor">Name</th>
                    <th class="descriptor">Type</th>
                    <th class="descriptor">Date</th>
                    <th class="descriptor">Location</th>
                    <th class="descriptor">Pastors/Churches Present</th>
                    <th class="descriptor">Number of Participants</th>
                    <th class="descriptor">Action</th>
                </tr>
                {{#each commEvents}}
                    <tr>
                        <td>{{eventName}}</td>
                        <td>{{type}}</td>
                        <td>{{displayCommunityDate}}</td>
                        <td>{{location}}</td>
                        <td>{{numberPastorChurch}}</td>
                        <td>{{numberParticipants}}</td>
                        <td>
                            <button type="button" class="btn btn-default neutral" {{action "editCommunity" this}}>Edit</button>
                            <!--<button type="button" class="btn btn-default warning" {action "showDeleteCommunity" this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>-->
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="panel-heading">
            <h3 class="panel-title">
                Leadership Events
                <button class="btn btn-primary align-right" {{action "editLeadership" bubbles=false }}>
                	<span class="octicon octicon-plus"></span>Add New Leadership Event
                </button>
            </h3>
        </div>

        <div class="panel-body detail-section-content">
			<form><span class="checkbox noEventsCheckbox"><label><input type="checkbox">No Leadership Events This Month</label></span></form>
            <p class="col-xs-12 ministryInstructions">Example: Training Leaders, Instructors, Pastors, Church Planters, etc.</p>
            <table class="table">
                <tr class="table-header">
                    <th class="descriptor">Name</th>
                    <th class="descriptor">Description</th>
                    <th class="descriptor">Date</th>
                    <th class="descriptor">Location</th>
                    <th class="descriptor">Actions</th>
                </tr>

                {{#each leadEvents}}
                    <tr>
                        <td>{{eventName}}</td>
                        <td>{{displayLeadershipDate}}</td>
                        <td>{{location}}</td>
						<td>{{description}}</td>
                        <td>
                            <button type="button" class="btn btn-default neutral" {{action "editLeadership" this}}>Edit</button>
                            <!--<button type="button" class="btn btn-default warning" {action "showDeleteLeadership" this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>-->
                            <button class="btn btn-primary" {{action "createParticipant" this bubbles=false }}><span class="octicon octicon-plus"></span>Add Participant</button>
                        </td>
                    </tr>
                    {{#each participants}}
                            <tr>
                                <td>{{participantName}}</td>
                                <td>{{organization}}</td>
                                <td>{{gender}}</td>
                                <td>
                                    <button class="btn btn-default neutral" {{action "editParticipant" this bubbles=false }}>Edit</button>
                                    <button type="button" class="btn btn-default warning" {{action "showDeleteParticipant" this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                                </td>
                            </tr>
                    {{/each}}
                {{/each}}
            </table>
            <table class="table">
                    {{#each leadParticipants}}
                        <tr>
                            <td>{{participantName}}</td>
                            <td>{{organization}}</td>
                            <td>{{gender}}</td>
                            <td>
                                <button class="btn btn-default neutral" {{action "editParticipant" this bubbles=false }}>Edit</button>
                                <!--<button type="button" class="btn btn-default warning" {action "showDeleteParticipant" this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>-->
                            </td>
                        </tr>
                    {{/each}}
            </table>
        </div>
    </div>
    {{/em-form}}
  </div>
