<div role="tabpanel" class="tab-pane" id="events">
    {{#em-form model=this submit_button=false bubbles=false}}
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Community Events
                <!-- if canAddCommunityEvent make this function in future -->
                    <button class="btn btn-primary align-right" {{action "editCommunity" bubbles=false }}>
                        <span class="octicon octicon-plus"></span>Add New Community Event
                    </button>
                <!-- end if -->
            </h3>
        </div>            
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th class="descriptor">Name</th>
                    <th class="descriptor">Type</th>
                    <th class="descriptor">Data</th>
                    <th class="descriptor">Location</th>
                    <th class="descriptor">Pastors/Churches Present</th>
                    <th class="descriptor">Number of Participants</th>
                    <th class="descriptor">Action</th>
                </tr>
                {{#each commEvents}}
                    <tr>
                        <td>{{eventName}}</td>
                        <td>{{type}}</td>
                        <td>{{date}}</td>
                        <td>{{location}}</td>
                        <td>{{numberPastorChurch}}</td>
                        <td>{{numberParticipants}}</td>
                        <td>
                            <button type="button" class="btn btn-default neutral" {{action "editCommunity" this}}>Edit</button>
                            <button type="button" class="btn btn-default warning" {{action "showDeleteCommunity" this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="panel-heading">
            <h3 class="panel-title">
                Leadership Events
                <!-- if canAddCommunityEvent make this function in future -->
                    <button class="btn btn-primary align-right" {{action "editLeadership" bubbles=false }}>
                        <span class="octicon octicon-plus"></span>Add New Leadership Event
                    </button>
                <!-- end if -->
            </h3>
        </div>

        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th class="descriptor">Description</th>
                    <th class="descriptor">Name</th>
                    <th class="descriptor">Date</th>
                    <th class="descriptor">Location</th>
                    <th class="descriptor">Actions</th>
                </tr>

                {{#each leadEvents}}
                    <tr>
                        <td>{{description}}</td>
                        <td>{{eventName}}</td>
                        <td>{{date}}</td>
                        <td>{{location}}</td>
                        <td>
                            <button type="button" class="btn btn-default neutral" {{action "editLeadership" this}}>Edit</button>
                            <button type="button" class="btn btn-default warning" {{action "showDeleteLeadership" this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                            <button class="btn btn-primary" {{action "editParticipant" bubbles=false }}><span class="octicon octicon-plus"></span>Add Participant</button>
                        </td>
                    </tr>
                
                        <tr class="table-header">
                        <th class="descriptor">Organization</th>
                        <th class="descriptor">Name</th>
                        <th class="descriptor">Gender</th>
                        <th class="descriptor">Actions</th>
                        <th class="descriptor">Place holder to be removed later</th>
                    </tr>

                    {{#each leadParticipants}}
                        <tr>
                            <td>{{organization}}</td>
                            <td>{{participantName}}</td>
                            <td>{{gender}}</td>
                            <td>
                                <button class="btn btn-primary" {{action "editParticipant" this bubbles=false }}><span class="octicon octicon-plus"></span>Edit</button>
                                <button type="button" class="btn btn-default warning" {{action "showDeleteParticipant" this bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                            </td>
                        </tr>
                    {{/each}}
                {{/each}}
            </table>

<!--
            <table class="table">
                <tr class="table-header">
                    <th><p>Event for new Participant needed</p></th> 
                </tr>

                <tr class="table-header">
                    <th class="descriptor2">Organization</th>
                    <th class="descriptor2">Name</th>
                    <th class="descriptor2">Gender</th>
                </tr>


                <tr class="table-header">

                    <td>{{em-text property="organization" rows=1 class="col-lg-12 col-sm-6"}}</td>
                    <td>{{em-text property="pname" rows=1 class="col-lg-12 col-sm-6"}}</td>
                    <td>{{em-text property="gender" rows=1 class="col-lg-12 col-sm-6"}}</td>

                </tr>

            </table>
-->
        </div>
    </div>
    {{/em-form}}
  </div>
