{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Report Title</th>
            <th>Last Edited</th>
            <th>Actions</th>
        </tr>
        {{#with this as parentController}}
            {{#each}}
                <tr>
                    <td id="inprogressreportTitle">{{displayReportDate}}</td>
                    <td>{{date-format lastModified format="l hh:mm:ss A"}}</td>     
                    {{#if parentController.showActions}}
                    <td>
                        {{#if parentController.canAddReport}}
                            <button class="btn btn-default neutral" {{action 'editItem' this  bubbles=false }}>Edit</button>
                        {{/if}}
                        {{#if parentController.canDeleteReport}}
                            <button class="btn btn-default warning" {{action 'deleteItem' this  bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                        {{/if}}
                    </td>
                    {{/if}} 
                </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <p>No 'In Progress' Report Exists. {{#if canAddReport}}Create a new monthly report? <a href="#" {{action 'newItem'}}>New Report</a>{{/if}}</p>
    </div>
{{/if}}