{{#if hasRecords}}
    <table class="table">
        <tr class="table-header">
            <th>Report Title</th>
            <th>Submitted</th>
            <th>Actions</th>
        </tr>
        {{#with this as parentController}}
            {{#each}}
                <tr>
                    <td id="inprogressreportTitle">{{displayReportDate}}</td>
                    <td>{{date-format lastModified format="l hh:mm A"}}</td>     
                    {{#if parentController.showActions}}
                    <td>
                        <button class="btn btn-default neutral"  {{action 'viewItem' this  bubbles=false }}>View</button>
                        {{#if parentController.canDeleteReport}}
                            <button class="btn btn-default warning" {{action 'deleteItem' this  bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                        {{/if}}
                    </td>
                    {{/if}} 
                </tr>
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No 'Archived' Report Exists.</em>
        {{#if canAddReport}}
            <em>Create a new monthly report?</em>
            <button class="btn btn-primary on-white" {{action 'newItem'}}>New Report</button>
        {{/if}}
    </div>
{{/if}}