<div role="tabpanel" class="tab-pane" id="fd">
{{#em-form model=this submit_button=false bubbles=false}}
  <div class="panel">
      <div class="panel-heading">
          <h3 class="panel-title">
              Christianity Explored
          </h3>
      </div>
	  <!--CE start-->
		<div class="panel-body detail-section-content">

			<h4 class="showChristianityExplored text-center">
				<button class="btn btn-default neutral" {{action "showChristianityExplored" bubbles=false }}>
					Show Christianity Explored
					<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
				</button>
			</h4>

			<h4 class="hideChristianityExplored text-center">
				<button class="btn btn-default neutral" {{action "hideChristianityExplored" bubbles=false }}>
					Hide Christianity Explored
					<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
				</button>
			</h4>
			<div class="row showHideChristianityExplored">
				<div class="col-xs-12 col-sm-6">
					{{em-input property="Participants" label="Participants"}}
					{{em-input property="Graduates" label="Graduates"}}
				</div>
				<div class="col-xs-12 col-sm-6">
					{{em-input property="Continued_Education" label="Participants seeking Continued Education"}}
					{{em-input property="Session" label="Session"}}
				</div>
			</div>
		</div>
	<!--CE end-->
      <div class="panel-heading">
          <h3 class="panel-title">
              Faith Declaration
              <!-- if canAddBeliever make this function in future -->
                <button class="btn btn-primary align-right" {{action "showAddBeliever" bubbles=false }}>
                  <span class="octicon octicon-plus"></span>Add New Believer
                </button>
              <!-- end if -->
          </h3>
      </div>
      <div class="panel-body detail-section-content">
        <!-- Show Current Believers button-->
        <h4 class="showCurrentBelievers text-center">
          <button class="btn btn-default neutral" {{action "showCurrentBelievers" bubbles=false }}>
            Show {{believers.length}} Current Believers
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </button>
        </h4>

        <!-- Hide Current Believers button-->
        <h4 class="hideCurrentBelievers text-center">
          <button class="btn btn-default neutral" {{action "hideCurrentBelievers" bubbles=false }}>
            Hide {{believers.length}} Current Believers
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
          </button>
        </h4>

        <ul class="list-group text-center nav-pills showHideBelievers">
          {{#each believers}}
            <li class="listSet">
              <a href="#" role="tab" data-toggle="pill">{{believerName}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
      <!--- THIS IS STATIC CODE FOR LATER REVISION (Faith Declaration)== by: Celtson (Another option for adding Believer info)-->
      {{#if canBeSeen}}
        <div class="allGenInfo">
          <div class="panel detail-section">
              <div class="panel-heading">
                  <h3 class="panel-title">
                          General Information
                  </h3>
              </div>

              <div class="panel-body detail-section-content">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6">
                          <div class="form-group has-success">
                              <label class="control-label">Record Number</label>
                              <div class="form-control not-editable">
                                  {{id}}
                              </div>
                          </div>
                          {{em-input property="new-believer.firstName" label="First Name"}}
                          {{em-input property="new-believer.lastName" label="Last Name"}}
                      </div>
                      <div class="col-xs-12 col-sm-6">
                         {{em-input property="new-believer.age" label="Age" class="required"}}
                          {{em-select
                              prompt=" "
                              label="Religious Affiliation"
                              property="new-believer.religiousAffiliation"
                              content=religiousAffiliation
                              optionValuePath="content"
                              optionLabelPath="content"
                          }}
                          {{em-select
                              prompt=" "
                              label="Present Activity"
                              property="new-believer.presentActivity"
                              content=presentActivity
                              optionValuePath="content"
                              optionLabelPath="content"
                          }}
                          {{em-select
                              prompt=" "
                              label="Type of Declaration"
                              property="new-believer.declarationType"
                              content=declarationType
                              optionValuePath="content"
                              optionLabelPath="content"
                              class="required"
                          }}
                          <div class="form-group">
                            <label>Gender</label>
                            <div>
                                {{ext-radio name=gender content=genderList value=new-believer.gender showInline=true}}
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="panel detail-section">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Address/Contact Information
                </h3>
            </div>

            <div class="panel-body detail-section-content">
                <div class="row">

                    {{em-input property="new-believer.phone" label="Phone Contact" class="col-xs-12 col-sm-6"}}
                    {{em-input property="new-believer.email" type="email" label="Email" class="col-xs-12 col-sm-6"}}
                    {{#if haveAddressOptions}}
                        {{#if address1Include}}
                            {{em-text label=address1Label property="new-believer.address" rows=3 class="col-xs-12 col-sm-6"}}
                        {{/if}}
                        {{#if address2Include}}
                            {{em-input label=address2Label property="new-believer.address2" class="col-xs-12 col-sm-6" }}
                        {{/if}}
                        {{#if address3Include}}
                            {{em-input label=address3Label property="new-believer.address3" class="col-xs-12 col-sm-6" }}
                        {{/if}}
                        {{#if address4Include}}
                            {{em-input label=address4Label property="new-believer.address4" class="col-xs-12 col-sm-6" }}
                        {{/if}}
                    {{else}}
                        {{em-text label="Address" property="new-believer.address" rows=3  class="col-xs-12 col-sm-6"}}
                    {{/if}}
                    {{select-or-typeahead property="new-believer.country" label="Country" list=countryList selection=country class="col-xs-12 col-sm-6" }}

                </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary" {{action "addBeliever" bubbles=false }}>
              Save Believer
            </button>
          </div>
        </div><!--end allGenInfo -->
      {{/if}}
      <!--- end comment ======== by: Celtson-->
  </div>
{{/em-form}}
</div>
