<div role="tabpanel" class="tab-pane" id="preview">
<!-- Hospital -->              
      <div class="panel">
          <div class="panel-heading" role="tab" id="hospitalPreview">
              <a data-toggle="collapse" href="#hospitalPreviewCollapse" aria-expanded="true" aria-controls="hospitalPreviewCollapse" {{action "toggleArrowInPreview"}}>
                  <h3 class="panel-title headingsForPreview">
                      Hospital 
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="hospitalPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="hospitalPreview">
              <div class="panel-body">
                 <h4>
                    Staff Ministries
                 </h4>
                 <hr>
                 <span class="row">
                    <span class="col-xs-3">
                        {{#if entireStaffDevotions}}
                            <p><span class="filledInPreview">Entire Staff Devotions: </span>{{entireStaffDevotions}}</p>
                        {{else}}
                            <p>Entire Staff Devotions: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                        {{/if}}
                    </span>
                    <span class="col-xs-3">
                        {{#if entireStaffDevotions}}
                            <p><span class="filledInPreview">Department Devotions: </span>{{departmentDevotions}}</p>
                        {{else}}
                            <p>Department Devotions: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                        {{/if}}
                    </span>
                    <span class="col-xs-3">
                        {{#if hospitalPrayerGroupIntercessions}}
                            <p><span class="filledInPreview">Hospital Prayer Group Intercession: </span>{{hospitalPrayerGroupIntercessions}}</p>
                        {{else}}
                            <p>Hospital Prayer Group Intercession: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                        {{/if}}
                    </span>
                    <span class="col-xs-3">
                        {{#if spiritualCenterStaffMeetings}}
                            <p><span class="filledInPreview">Spiritual Center Staff Meeting: </span>{{spiritualCenterStaffMeetings}}</p>
                        {{else}}
                            <p>Spiritual Center Staff Meeting: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                        {{/if}}
                    </span>
                </span>
                <span class="row">
                    <span class="col-xs-12">
                        {{#if staffDevelopment}}
                            <p class="filledInPreview">Staff Development:</p>
                            <p>{{staffDevelopment}}</p>
                        {{else}}
                            <p>Staff Development:</p>
                            <p class="pleaseFillInPreview">(Please Fill In)</p>
                        {{/if}}
                    </span>
                 </span>
                 <span class="row">
                    <span class="col-xs-12">
                        {{#if staffOpportunities}}
                            <p class="filledInPreview">Continuing Education/Counseling/Support Opportunities:</p>
                            <p>{{staffOpportunities}}</p>
                        {{else}}
                            <p>Continuing Education/Counseling/Support Opportunities:</p>
                            <p class="pleaseFillInPreview">(Please Fill In)</p>
                        {{/if}}
                    </span>
                </span>
                <hr>
                <h4>
                    Patient Ministries
                </h4>
                <hr>
                <span class="row">
                    <span class="col-xs-12">
                        {{#if bedsideEvangelism}}
                            <p class="filledInPreview">Bedside Evangelism:</p>
                            <p>{{bedsideEvangelism}}</p>
                        {{else}}
                            <p>Bedside Evangelism:</p>
                            <p class="pleaseFillInPreview">(Please Fill In)</p>
                        {{/if}}
                    </span>
                </span>
                <span class="row">
                    <span class="col-xs-12">
                        {{#if playroomActivities}}
                            <p class="filledInPreview">Playroom Activities:</p>
                            <p>{{playroomActivities}}</p>
                        {{else}}
                            <p>Playroom Activities:</p>
                            <p class="pleaseFillInPreview">(Please Fill In)</p>
                        {{/if}}
                    </span>
                </span>
              </div>
          </div>
      </div>

<!-- Events -->
      <div class="panel">
          <div class="panel-heading" role="tab" id="eventsPreview">
              <a data-toggle="collapse" href="#eventsPreviewCollapse" aria-expanded="true" aria-controls="eventsPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                  <h3 class="panel-title headingsForPreview">
                      Events
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="eventsPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="eventsPreview">
              <div class="panel-body">
                  <div class="panel">
                    <div class="panel-heading" role="tab" id="leadershipEventsPreview">
                        <a class="collapsed" data-toggle="collapse" href="#leadershipEventsPreviewCollapse" aria-expanded="false" aria-controls="leadershipEventsPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                            <h5 class="panel-title">
                                {{#if leadEvents}}
                                    Leadership Events (Click to see Events)
                                {{else}}
                                    Leadership Events <span class="pleaseFillInPreview">(No Leadership Events)</span>
                                {{/if}}
                                <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                            </h5>
                        </a>
                    </div>
                    <div id="leadershipEventsPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="leadershipEventsPreview">
                        <div class="panel-body">
                            <h4> </h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Event Name</th> 
                                        <th>Date</th>
                                        <th>Location</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#if leadEvents}}
                                        {{#each leadEvents}}
                                        <tr>
                                            <td>{{eventName}}</td> 
                                            <td>{{date}}</td>
                                            <td>{{location}}</td>
                                            <td>{{description}}</td> 
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td class="pleaseFillInPreview">(No Leadership Events)</td> 
                                        </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
                 <div class="panel">
                    <div class="panel-heading" role="tab" id="communityEventsPreview">
                        <a class="collapsed" data-toggle="collapse" href="#communityEventsPreviewCollapse" aria-expanded="false" aria-controls="communityEventsPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                            <h5 class="panel-title">
                                {{#if commEvents}}
                                    Community Events (Click to see Events)
                                {{else}}
                                    Community Events <span class="pleaseFillInPreview">(No Community Events)</span>
                                {{/if}}
                                <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                            </h5>
                        </a>
                    </div>
                    <div id="communityEventsPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="communityEventsPreview">
                        <div class="panel-body">
                            <h4> </h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Event Name</th> 
                                        <th>Date</th>
                                        <th>Event Type</th>
                                        <th>Number of Pastors/Churches Present</th>
                                        <th>Number of Participants</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#if commEvents}}
                                        {{#each commEvents}}
                                        <tr>
                                            <td>{{eventName}}</td> 
                                            <td>{{date}}</td>
                                            <td>{{type}}</td>
                                            <td>{{numberPastorChurch}}</td> 
                                            <td>{{numberParticipants}}</td>
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td class="pleaseFillInPreview">(No Community Events)</td> 
                                        </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
              </div>
          </div>
      </div>

<!-- Faith Declarations -->
      <div class="panel">
          <div class="panel-heading" role="tab" id="faithDeclarationsPreview">
              <a data-toggle="collapse" href="#faithDeclarationsPreviewCollapse" aria-expanded="false" aria-controls="faithDeclarationsPreviewCollapse"> 
                  <h3 class="panel-title headingsForPreview" {{action "toggleArrowInPreview"}}>
                      Faith Declarations
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="faithDeclarationsPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="faithDeclarationsPreview">
              <div class="panel-body">
                  <h4>
                     Christianity Explored Class
                  </h4>
                  <hr>
                  <span class="row">
                     <span class="col-xs-3">
                         {{#if ceSession}}
                            <p><span class="filledInPreview">Sessions: </span>{{ceSession}}</p>
                         {{else}}
                            <p>Sessions: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                         {{/if}}
                     </span>
                     <span class="col-xs-3">
                         {{#if ceParticipants}}
                            <p><span class="filledInPreview">Participants: </span>{{ceParticipants}}</p>
                         {{else}}
                            <p>Participants: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                         {{/if}}
                     </span>
                     <span class="col-xs-3">
                         {{#if ceGraduates}}
                            <p><span class="filledInPreview">Graduates: </span>{{ceGraduates}}</p>
                         {{else}}
                            <p>Graduates: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                         {{/if}}
                     </span>
                     <span class="col-xs-3">
                         {{#if ceContinuedEducation}}
                            <p><span class="filledInPreview">Seeking Continuing Education: </span>{{ceContinuedEducation}}</p>
                         {{else}}
                            <p>Seeking Continuing Education: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                         {{/if}}
                     </span>
                  </span>
                  <hr>
                  <h4>
                      Faith Declarations - 
                      {{#if believers}}
                          <span><span class="filledInPreview">Total: </span>{{believers.length}}</span>
                      {{else}}
                          <span>Total: <span class="pleaseFillInPreview">0</span></span>
                      {{/if}}
                  
                  </h4>
                  <hr>
                  <div class="panel">
                    <div class="panel-heading" role="tab" id="faithDeclarationsNamesPreview">
                        <a class="collapsed" data-toggle="collapse" href="#faithDeclarationsNamesPreviewCollapse" aria-expanded="false" aria-controls="faithDeclarationsNamesPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                            <h5 class="panel-title">
                                {{#if believers}}
                                    New Believer/Recommitment Names (Click to see Names)
                                {{else}}
                                    New Believer/Recommitment Names <span class="pleaseFillInPreview">(Please Add Faith Declarations)</span>
                                {{/if}}
                                <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                            </h5>
                        </a>
                    </div>
                    <div id="faithDeclarationsNamesPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faithDeclarationsNamesPreview">
                        <div class="panel-body">
                            <h4> </h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th> 
                                        <th>Age</th>
                                        <th>Gender</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#if believers}}
                                        {{#each believers}}
                                        <tr>
                                            <td>{{believerName}}</td> 
                                            <td>{{age}}</td>
                                            <td>{{gender}}</td> 
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td class="pleaseFillInPreview">(Please Add Faith Declarations)</td>
                                        </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
              </div>
          </div>
      </div>

<!-- Additional Info --> 
      <div class="panel">
          <div class="panel-heading" role="tab" id="additionalInformationPreview">
              <a data-toggle="collapse" href="#additionalInformationPreviewCollapse" aria-expanded="true" aria-controls="additionalInformationPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                  <h3 class="panel-title headingsForPreview">
                      Additional Info
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="additionalInformationPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="additionalInformationPreview">
              <div class="panel-body">
                <h4>Ministry Results</h4>
                <hr>
                {{#if ministryResults}}
                    <p>{{ministryResults}}</p>
                {{else}}
                    <p class="pleaseFillInPreview">(Please Fill In)</p>
                {{/if}}
                <hr>
                <h4>Recommendations/Needs</h4>
                <hr>
                {{#if recommendationsNeeds}}
                    <p>{{recommendationsNeeds}}</p>
                {{else}}
                    <p class="pleaseFillInPreview">(Please Fill In)</p>
                {{/if}}
                <hr>
                <h4>Other Significant Items</h4>
                <hr>
                {{#if otherSignificantItems}}
                    <p>{{otherSignificantItems}}</p>
                {{else}}
                    <p class="pleaseFillInPreview">(Please Fill In)</p>
                {{/if}}
              </div>
          </div>
      </div>

<!-- Summary -->
      <div class="panel">
          <div class="panel-heading" role="tab" id="summaryPreview">
              <a data-toggle="collapse" href="#summaryPreviewCollapse" aria-expanded="true" aria-controls="summaryPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                  <h3 class="panel-title headingsForPreview">
                      Summary
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="summaryPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="summaryPreview">
              <div class="panel-body">
                  <h4> </h4>
                  <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Bedside Presentations</th> 
                            <th>Playroom Presentations</th>
                            <th>Jesus Film</th>
                            <th>Open Air Meetings</th>
                            <th>Mobile Clinic Visits</th> 
                            <th>Door to Door Evangelism</th> 
                            <th>Additional Opportunities</th>
                            <th>Totals</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Gospel Presentations</th>
                            {{#if bedsidePresentations}}
                                <td>{{bedsidePresentations}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if playroomPresentations}}
                                <td>{{playroomPresentations}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if jesusPresentations}}
                                <td>{{jesusPresentations}}</td> 
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if openAirPresentations}}
                                <td>{{openAirPresentations}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if mobilePresentations}}
                                <td>{{mobilePresentations}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if doorPresentations}}
                                <td>{{doorPresentations}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if morePresentations}}
                                <td>{{morePresentations}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            <td>{{totalPresentations}}</td>
                        </tr>
                        <tr>
                            <th>People Reached</th>
                            {{#if peopleBedside}}
                                <td>{{peopleBedside}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if peoplePlayroom}}
                                <td>{{peoplePlayroom}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if peopleJesus}}
                                <td>{{peopleJesus}}</td> 
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if peopleOpenAir}}
                                <td>{{peopleOpenAir}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if peopleMobile}}
                                <td>{{peopleMobile}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if peopleDoor}}
                                <td>{{peopleDoor}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if peopleMore}}
                                <td>{{peopleMore}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            <td>{{peopleTotal}}</td>
                        </tr>
                        <tr>
                            <th>Bibles Given Out</th>
                            {{#if bibleBedside}}
                                <td>{{bibleBedside}}</td> 
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if biblePlayroom}}
                                <td>{{biblePlayroom}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if bibleJesus}}
                                <td>{{bibleJesus}}</td> 
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if bibleOpenAir}}
                                <td>{{bibleOpenAir}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if bibleMobile}}
                                <td>{{bibleMobile}}</td> 
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if bibleDoor}}
                                <td>{{bibleDoor}}</td> 
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            
                            {{#if bibleMore}}
                                <td>{{bibleMore}}</td>
                            {{else}}
                                <td class="pleaseFillInPreview">(Please Fill In)</td>
                            {{/if}}
                            <td>{{bibleTotal}}</td>  
                        </tr>
                        <tr>
                            <th>Salvations</th>
                            <td>{{salvationBedside}}</td> 
                            <td>{{salvationPlayroom}}</td>
                            <td>{{salvationJesus}}</td> 
                            <td>{{salvationOpenAir}}</td>
                            <td>{{salvationMobile}}</td> 
                            <td>{{salvationDoor}}</td>
                            <td>{{salvationMore}}</td>
                            <td>{{salvationTotal}}</td>
                        </tr>
                        <tr>
                            <th>Recommitments</th>
                            <td>{{recommitmentBedside}}</td> 
                            <td>{{recommitmentPlayroom}}</td>
                            <td>{{recommitmentJesus}}</td> 
                            <td>{{recommitmentOpenAir}}</td>
                            <td>{{recommitmentMobile}}</td> 
                            <td>{{recommitmentDoor}}</td>
                            <td>{{recommitmentMore}}</td>
                            <td>{{recommitmentTotal}}</td>  
                        </tr>
                    </tbody>
                 </table>
              </div>
          </div>
      </div>

<!-- Demographics --> 
     <!-- <div class="panel">
          <div class="panel-heading" role="tab" id="demographicsPreview">
              <a data-toggle="collapse" href="#demographicsPreviewCollapse" aria-expanded="true" aria-controls="demographicsPreviewCollapse" {action "toggleArrowInPreview"}}> 
                  <h3 class="panel-title headingsForPreview">
                      Demographics
                      <span {bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="demographicsPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="demographicsPreview">
              <div class="panel-body">
                  <span class="row">
                     <span class="col-xs-3">
                         <h4>Staff</h4>
                         <p>Team Member #’s and Names</p>
                         <p>Church Affiliation</p>
                         <p>Paid vs. Volunteer</p>
                     </span>
                     <span class="col-xs-3">
                         <h4>Partner Organizations</h4>
                         <p>Organizations 1</p>
                         <p>Organizations 2</p>
                         <p>Organizations 3</p>
                     </span>
                     <span class="col-xs-3">
                         <h4>Churches</h4>
                         <p>Church 1</p>
                         <p>Church 2</p>
                         <p>Church 3</p>
                     </span>
                     <span class="col-xs-3">
                         <h4>People Groups</h4>
                         <p>Group 1</p>
                         <p>Group 2</p>
                         <p>Group 3</p>
                     </span>
                </span>
              </div>
          </div>
      </div>-->
  </div>
