<div role="tabpanel" class="tab-pane" id="preview">
<!-- Hospital -->              
      <div class="panel">
          <div class="panel-heading" role="tab" id="hospitalPreview">
              <a data-toggle="collapse" href="#hospitalPreviewCollapse" aria-expanded="true" aria-controls="hospitalPreviewCollapse" {{action "toggleArrowInPreview"}}>
                  <h3 class="panel-title headingsForPreview">
                      Hospital 
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="hospitalPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="hospitalPreview">
              <div class="panel-body">
                 <h4>
                    Staff Ministries
                 </h4>
                 <hr>
                 <span class="row">
                    <span class="col-xs-3">
                        {{#if entireStaffDevotions}}
                            <p>Entire Staff Devotions: {{entireStaffDevotions}}</p>
                        {{else}}
                            <p>Entire Staff Devotions: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                        {{/if}}
                    </span>
                    <span class="col-xs-3">
                        {{#if entireStaffDevotions}}
                            <p>Department Devotions: {{departmentDevotions}}</p>
                        {{else}}
                            <p>Department Devotions: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                        {{/if}}
                    </span>
                    <span class="col-xs-3">
                        {{#if hospitalPrayerGroupIntercessions}}
                            <p>Hospital Prayer Group Intercession: {{hospitalPrayerGroupIntercessions}}</p>
                        {{else}}
                            <p>Hospital Prayer Group Intercession: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                        {{/if}}
                    </span>
                    <span class="col-xs-3">
                        {{#if spiritualCenterStaffMeetings}}
                            <p>Spiritual Center Staff Meeting: {{spiritualCenterStaffMeetings}}</p>
                        {{else}}
                            <p>Spiritual Center Staff Meeting: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                        {{/if}}
                    </span>
                </span>
                <span class="row">
                    <span class="col-xs-12">
                        <p>Staff Development:</p>
                        {{#if staffDevelopment}}
                            <p>{{staffDevelopment}}</p>
                        {{else}}
                            <p class="pleaseFillInPreview">(Please Fill In)</p>
                        {{/if}}
                    </span>
                 </span>
                 <span class="row">
                    <span class="col-xs-12">
                        <p>Continuing Education/Counseling/Support Opportunities:</p>
                        {{#if staffOpportunities}}
                            <p>{{staffOpportunities}}</p>
                        {{else}}
                            <p class="pleaseFillInPreview">(Please Fill In)</p>
                        {{/if}}
                    </span>
                </span>
                <hr>
                <h4>
                    Patient Ministries
                </h4>
                <hr>
                <span class="row">
                    <span class="col-xs-12">
                        <p>Bedside Evangelism:</p>
                        <p>(Pull Correct Data)</p>
                    </span>
                </span>
                <span class="row">
                    <span class="col-xs-12">
                        <p>Playroom Activities:</p>
                        <p>(Pull Correct Data)</p>
                    </span>
                </span>
              </div>
          </div>
      </div>

<!-- Events -->
      <div class="panel">
          <div class="panel-heading" role="tab" id="eventsPreview">
              <a data-toggle="collapse" href="#eventsPreviewCollapse" aria-expanded="true" aria-controls="eventsPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                  <h3 class="panel-title headingsForPreview">
                      Events
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="eventsPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="eventsPreview">
              <div class="panel-body">
                  <div class="panel">
                    <div class="panel-heading" role="tab" id="LeadershipEventsPreview">
                        <a class="collapsed" data-toggle="collapse" href="#LeadershipEventsPreviewCollapse" aria-expanded="false" aria-controls="LeadershipEventsPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                            <h5 class="panel-title">
                                {{#if leadEvents}}
                                    Leadership Events (Click to see Events)
                                {{else}}
                                    Leadership Events <span class="pleaseFillInPreview">(Please Add Leadership Events)</span>
                                {{/if}}
                                <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                            </h5>
                        </a>
                    </div>
                    <div id="LeadershipEventsPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="LeadershipEventsPreview">
                        <div class="panel-body">
                            <h4> </h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Event Name</th> 
                                        <th>Date</th>
                                        <th>Location</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#if leadEvents}}
                                        {{#each leadEvents}}
                                        <tr>
                                            <td>{{eventName}}</td> 
                                            <td>{{date}}</td>
                                            <td>{{location}}</td>
                                            <td>{{description}}</td> 
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td class="pleaseFillInPreview">(Please Add Leadership Events)</td> 
                                        </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
                 <div class="panel">
                    <div class="panel-heading" role="tab" id="CommunityEventsPreview">
                        <a class="collapsed" data-toggle="collapse" href="#CommunityEventsPreviewCollapse" aria-expanded="false" aria-controls="CommunityEventsPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                            <h5 class="panel-title">
                                {{#if commEvents}}
                                    Community Events (Click to see Events)
                                {{else}}
                                    Community Events <span class="pleaseFillInPreview">(Please Add Community Events)</span>
                                {{/if}}
                                <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                            </h5>
                        </a>
                    </div>
                    <div id="CommunityEventsPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CommunityEventsPreview">
                        <div class="panel-body">
                            <h4> </h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Event Name</th> 
                                        <th>Date</th>
                                        <th>Event Type</th>
                                        <th>Number of Pastors/Churches Present</th>
                                        <th>Number of Participants</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#if commEvents}}
                                        {{#each commEvents}}
                                        <tr>
                                            <td>{{eventName}}</td> 
                                            <td>{{date}}</td>
                                            <td>{{type}}</td>
                                            <td>{{numberPastorChurch}}</td> 
                                            <td>{{numberParticipants}}</td>
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td class="pleaseFillInPreview">(Please Add Community Events)</td> 
                                        </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
              </div>
          </div>
      </div>

<!-- Faith Declarations -->
      <div class="panel">
          <div class="panel-heading" role="tab" id="fdPreview">
              <a data-toggle="collapse" href="#fdPreviewCollapse" aria-expanded="false" aria-controls="fdPreviewCollapse"> 
                  <h3 class="panel-title headingsForPreview" {{action "toggleArrowInPreview"}}>
                      Faith Declarations
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="fdPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="fdPreview">
              <div class="panel-body">
                  <h4>
                     Christianity Explored Class
                  </h4>
                  <hr>
                  <span class="row">
                     <span class="col-xs-3">
                         {{#if ceSession}}
                            <p>Sessions: {{ceSession}}</p>
                         {{else}}
                            <p>Sessions: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                         {{/if}}
                     </span>
                     <span class="col-xs-3">
                         {{#if ceParticipants}}
                            <p>Participants: {{ceParticipants}}</p>
                         {{else}}
                            <p>Participants: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                         {{/if}}
                     </span>
                     <span class="col-xs-3">
                         {{#if ceGraduates}}
                            <p>Graduates: {{ceGraduates}}</p>
                         {{else}}
                            <p>Graduates: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                         {{/if}}
                     </span>
                     <span class="col-xs-3">
                         {{#if ceContinuedEducation}}
                            <p>Seeking Continuing Education: {{ceContinuedEducation}}</p>
                         {{else}}
                            <p>Seeking Continuing Education: <span class="pleaseFillInPreview">(Please Fill In)</span></p>
                         {{/if}}
                     </span>
                  </span>
                  <hr>
                  <h4>Faith Declarations</h4>
                  <hr>
                  {{#if believers}}
                    <p>Total: {{believers.length}}</p>
                  {{else}}
                    <p>Total: <span class="pleaseFillInPreview">0</span></p>
                  {{/if}}
                  <div class="panel">
                    <div class="panel-heading" role="tab" id="fdNamesPreview">
                        <a class="collapsed" data-toggle="collapse" href="#fdNamesPreviewCollapse" aria-expanded="false" aria-controls="fdNamesPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                            <h5 class="panel-title">
                                {{#if believers}}
                                    New Believer/Recommitment Names (Click to see Names)
                                {{else}}
                                    New Believer/Recommitment Names <span class="pleaseFillInPreview">(Please Add Faith Declarations)</span>
                                {{/if}}
                                <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                            </h5>
                        </a>
                    </div>
                    <div id="fdNamesPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fdNamesPreview">
                        <div class="panel-body">
                            <h4> </h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th> 
                                        <th>Age</th>
                                        <th>Gender</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#if believers}}
                                        {{#each believers}}
                                        <tr>
                                            <td>{{believerName}}</td> 
                                            <td>{{age}}</td>
                                            <td>{{gender}}</td> 
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td class="pleaseFillInPreview">(Please Add Faith Declarations)</td>
                                        </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
              </div>
          </div>
      </div>

<!-- Additional Info --> 
      <div class="panel">
          <div class="panel-heading" role="tab" id="aiPreview">
              <a data-toggle="collapse" href="#aiPreviewCollapse" aria-expanded="true" aria-controls="aiPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                  <h3 class="panel-title headingsForPreview">
                      Additional Info
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="aiPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="aiPreview">
              <div class="panel-body">
                <h4>Ministry Results</h4>
                <hr>
                {{#if ministryResults}}
                    <p>{{ministryResults}}</p>
                {{else}}
                    <p class="pleaseFillInPreview">(Please Fill In)</p>
                {{/if}}
                <hr>
                <h4>Recommendations/Needs</h4>
                <hr>
                {{#if recommendationsNeeds}}
                    <p>{{recommendationsNeeds}}</p>
                {{else}}
                    <p class="pleaseFillInPreview">(Please Fill In)</p>
                {{/if}}
                <hr>
                <h4>Other Significant Items</h4>
                <hr>
                {{#if otherSignificantItems}}
                    <p>{{otherSignificantItems}}</p>
                {{else}}
                    <p class="pleaseFillInPreview">(Please Fill In)</p>
                {{/if}}
              </div>
          </div>
      </div>

<!-- Summary --> <!--Once Celtson Finishes Summary Tab-->
      <div class="panel">
          <div class="panel-heading" role="tab" id="summaryPreview">
              <a data-toggle="collapse" href="#summaryPreviewCollapse" aria-expanded="true" aria-controls="summaryPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                  <h3 class="panel-title headingsForPreview">
                      Summary
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="summaryPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="summaryPreview">
              <div class="panel-body">
                  <h4> </h4>
                  <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Bedside Presentations</th> 
                            <th>Playroom Presentations</th>
                            <th>Jesus Film</th>
                            <th>Open Air Meetings</th>
                            <th>Mobile Clinic Visits</th> 
                            <th>Additional Opportunities</th>
                            <th>Totals</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>People Reached</th>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td> 
                        </tr>
                        <tr>
                            <th>Bibles Given Out</th>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td>
                        </tr>
                        <tr>
                            <th>Salvations</th>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td>
                        </tr>
                        <tr>
                            <th>Recommitments</th>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td> 
                            <td>(Pull Correct Data)</td>
                            <td>(Pull Correct Data)</td>
                        </tr>
                    </tbody>
                 </table>
              </div>
          </div>
      </div>

<!-- Demographics --> 
     <!-- <div class="panel">
          <div class="panel-heading" role="tab" id="demographicsPreview">
              <a data-toggle="collapse" href="#demographicsPreviewCollapse" aria-expanded="true" aria-controls="demographicsPreviewCollapse" {{action "toggleArrowInPreview"}}> 
                  <h3 class="panel-title headingsForPreview">
                      Demographics
                      <span {{bind-attr class=":octicon :pull-right showDetails:octicon-triangle-down:octicon-triangle-up"}}></span>
                  </h3>
              </a>
          </div>
          <div id="demographicsPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="demographicsPreview">
              <div class="panel-body">
                  <span class="row">
                     <span class="col-xs-3">
                         <h4>Staff</h4>
                         <p>Team Member #’s and Names</p>
                         <p>Church Affiliation</p>
                         <p>Paid vs. Volunteer</p>
                     </span>
                     <span class="col-xs-3">
                         <h4>Partner Organizations</h4>
                         <p>Organizations 1</p>
                         <p>Organizations 2</p>
                         <p>Organizations 3</p>
                     </span>
                     <span class="col-xs-3">
                         <h4>Churches</h4>
                         <p>Church 1</p>
                         <p>Church 2</p>
                         <p>Church 3</p>
                     </span>
                     <span class="col-xs-3">
                         <h4>People Groups</h4>
                         <p>Group 1</p>
                         <p>Group 2</p>
                         <p>Group 3</p>
                     </span>
                </span>
              </div>
          </div>
      </div>-->
  </div>
