<div class="panel panel-primary" id="MinistryFooter">
    {{partial 'paging'}}
    {{yield}}
    <div class="panel-footer">
      {{#em-form model=this submit_button=false bubbles=false}}
        <button class="btn btn-default" {{action 'updateReport'}}>Save</button>
        <button {{action "cancel"}} class="btn btn-default warning">Cancel</button>
        {{#unless submitPage}}
          <button {{action 'prevMinistryTab'}} class="btn btn-default neutral">Previous</button>
          <button {{action 'nextMinistryTab'}} class="btn btn-default neutral">Next</button>
        {{/unless}}
        <span class="pull-right">
          <p class="col-xs-3 noPadding padding-5-top">Change Date:</p>
          <span class="col-xs-5 noPadding padding-5-right">{{date-picker property="reportDate" maxDate="now"}}</span>
          <button class="btn btn-default col-xs-4" {{action 'updateReport'}}>Save Change</button>
        </span>
      {{/em-form}}
    </div>
</div>
